.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 220px 120px;
}

.notFound a{
    text-decoration: none;
    color: white;
}